body {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    margin: 0;
    
}

.header {
    flex: 1;
    display: flex;
    background-color: #1F2937;
    align-items: center;
    
    margin: 0;
    padding: 10px 120px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
    align-items: center;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    gap: 30px;
}

li, .left .sec {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    background-color: #1F2937;
    margin: 0;
    padding: 50px 120px;
    gap: 10px;
}

.left .main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.right img {
    width: 350px;
    height: 200px;
}

.upper {
    background-color: #3882F6;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 6px;
    border: 0;
    font-weight: 700;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 40px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 40px;
}

.illustration img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.illustration {
    flex: 1;
    max-width: 150px;
    padding-bottom: 100px;
    text-align: center;
}

.quote {
    padding: 70px 180px;
    background: #E5E7EB;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-family: "light italic";
    font-weight: 100;
    color: #1F2937;
}

.quote .sign {
    font-weight: 700;
    text-align: right;
    padding-top: 15px;
}

.signup {
    display: flex;
    border-radius: 10px;
    margin: 70px 120px;
    background-color: #3882F6;
    justify-content: space-around;
}

.signup .left {
    padding: 40px;
}

.left .text1 {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 23px;
}

.left .text {
    color: lightgrey;
}

.lower {
    background-color: #3882F6;
    border: 2px solid white;
    padding: 5px 20px;
    border-radius: 6px;
    margin: 40px;
    font-weight: 700;
}

.lower a {
    color: white;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 30px 0;
}